<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ users.empresa }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label color="dark">Activo</ion-label>
    <ion-select>
      <ion-option *ngFor="let car of cars" [value]="car.id_activo">{{car.nombre}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label color="dark" fixed>Kilometraje</ion-label>
    <ion-input id="nameKm" type="number" [(ngModel)]='nameKm' (blur)="validateKm()"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="dark" fixed>Combustible</ion-label>
    <ion-input id='combustible' name='combustible'></ion-input>
  </ion-item>

  <form name="FormularioTotal" id="FormularioTotal" (ngSubmit)="guardar()" novalidate>

    <ion-slides pager>

      <ion-slide>        
        <ion-list>
          <ion-item>
            <div *ngFor="let check of checkList, let i = index">
              <ion-label>{{check.nombre}}</ion-label>
              <div *ngFor="let campos of check.campos, let j = index">
                <input type="checkbox" id="checkAll_{{i}}_{{j}}" (click)="CheckedAll(i, j)"> {{campos.texto_campo}}
                <ul>
                  <li *ngFor="let opciones of campos.opciones, let k = index">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="checkListInfo checkListInfo_{{i}}_{{j}}" id="checkListInfo_{{i}}_{{j}}_{{k}}" name="checkListInfo_{{i}}_{{j}}_{{k}}"
                          value="{{opciones.value_opcion}}" (click)="addCheckbox($event, opciones.value_opcion, i, j, k)">{{opciones.texto_opcion}}
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </ion-item>
        </ion-list>        
      </ion-slide>

      <ion-slide>
        <ion-list>
          <ion-item>
            <ion-label color="dark">Fecha Reporte</ion-label>
            <ion-input [(ngModel)]='fechaHoy' name="fechaHoy" [readonly]="isReadonly()"></ion-input>
          </ion-item>
          <ion-item>
            <table id="tabla">
              <tr>
                <td>Novedad</td>
                <td>Observaciones</td>
              </tr>
              <tr id='tr_0'>
                <td><textarea id='novedad_0' name='novedad_0' rows="2" cols="15"></textarea> </td>
                <td><textarea id='observacion_0' name='observacion_0' rows="2" cols="15"></textarea></td>
                <td><a id="addNovedad0" name="addNovedad0" (click)="addNovedad()"><ion-icon name="add-circle"></ion-icon></a></td>
                <td><a id="delNovedad0" name="delNovedad0" (click)="delNovedad()"><ion-icon name="remove-circle"></ion-icon></a></td>
              </tr>
            </table>
          </ion-item>
          <ion-item>
            <div padding>
              <button ion-button block type="submit">Guardar</button>
            </div>
          </ion-item>
        </ion-list>
      </ion-slide>





    </ion-slides>

  </form>

</ion-content>